* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: sans-serif;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
